body {
  background-color: white
  color: #777777;
  max-width: 960px;
  margin: 60;
  padding: 30

  Font-family: "Georgia", "Times", "Times New Roman", serif;
}

.index_header_container{
  background: #ffffff;
  font-family: 'arial', 'helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  padding-top: 20px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 0px 0px 1px 0px;
  overflow: auto;
  width: 960px;
}
.my_name{
  margin-bottom: 0px;
  font-weight: bold;
  padding-bottom: 0px;
  border-bottom: 0px; 

}
.index_large-container{
  background: #e8e8e8;
  margin-top: 0px;
  padding-top: 0px;
  width: 960px;
}
.links_to_pages{
  float: right;
  font-family: 'arial', 'helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  margin-bottom: 30px;
  margin-right: 150px;
  padding: 10px;

}
.index_header-container{
  background: #ffffff;
}

.connect_with_my_links{
  float: right;
  font-family: 'arial', 'helvetica Neue', Helvetica, sans-serif;
 }
 .my_pages-container{
  float: right;
  margin-top: 200px;
  margin-right: 100px;
  width: 200px;
  height: 150px;
  background-color: #ffffff;
  clear:both;
 }
h1 {
  margin-top: 150px;
  margin-bottom: 0px;
  margin-right: 75px;
  margin-left: 50px;
  line-height: 70px;
  font-size: 25px;
  text-align: left;
  color: white;
  background-color: #4aaaa5;
  display: inline;
  padding: 20px;
}
.link_to_my_social_pages{
  background-color: #ffffff;
  float: right;
  margin-top: 100px;
  margin-bottom: 400px;
  margin-right: 100px;
  margin-left: 50px;
  clear:both;
}
   
h2 {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 40px;
  line-height: 70px;
  font-size: 30px;
  text-align: left;
  color: #4aaaa5;
}
    
h3 {
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 50px;
  margin-bottom: 15px;
  padding-top: 15px;
  font-size: 30px;
  text-align: center;
  color: #4aaaa5;
  background-color: #e6e6e6;
}

.index_about_me{
  background-color: #e6e6e6;
  height: 620px;
  width: 960px;
    
}

.about_me_img{
  margin-left: 20px;
  margin-right: auto;
  display: block; 

}
.bio-image{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

 p {
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  color: #777777;
  margin-bottom: 0px;

}

p.index_first_par{
  width:60%;
  padding-left: 20px;
  background-color: #ffffff;
}
p.index_second_par{
  width:60%;
  padding-left: 20px;
  background-color: #ffffff;
}
p.index_third_par{
  margin-left: 430px;
  color: #ffffff;
}   
.index_footer{
 background-color: #666666;
 display: block; 
 line-height: 70px;
  font-size: 25px;
  width: 960px;



} 
    /* All unordered list tags */

    ul {
      text-align: left;
      font-size: 35px;
      /* Give an element a solid border. */
      border-style: solid;
      /* Render the border 5 pixels thick. */
      border-width: 5px;
      /* Include bullets in the content flow. */
      /* More info here: http://www.w3schools.com/cssref/pr_list-style-position.asp */
      list-style-position: inside;
    }
    .float-left-area  {
      width: 70%;
      float: left;
      clear:both;
      }

.float-right-area {
      width: 30%;
      float: left;
      clear:both;
      }

.inner-left   {
      padding: 5px 5px 5px 5px;
      margin-right: 10px;
      border: #999999 1px solid;
      min-height: 60px;
      }

.inner-right    {
      font-size: 11px;
      padding: 5px 5px 5px 5px;
      border: #999999 1px solid;
      min-height: 60px;
      }

.clear-floated    { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0;
clear:both;
 }


