body {
  background-color: white
  color: #777777;
margin: 30;
padding: 30
Font-family: "Georgia", "Times", "Times New Roman", serif;


}

.header_container{
background: #ffffff;
padding-top: 20px;
border-style: solid;
border-color: #cccccc;
border-width: 0px 0px 1px 0px;
overflow: auto;
}

.links{
  float: right;
  font-family: 'arial', 'helvetica Neue', Helvetica, sans-serif;
  
}
.connect{
  float: right;
  font-family: 'arial', 'helvetica Neue', Helvetica, sans-serif;
  
}
    /* h1 heading tags */
    h1 {
      /* Put a 15-pixel margin at the top of all h2 headings. */
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 70px;
      font-size: 25px;
      text-align: left;
      color: white;
      background-color: #4aaaa5;
      display: inline;
      padding: 40px;

    }
    /* h2 heading tags */
    h2 {
      /* Put a 15-pixel margin at the top of all h2 headings. */
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 70px;
      font-size: 25px;
      text-align: left;
      color: #4aaaa5;
    }
    /* h3 heading tags */

    h3 {
      margin-top: 15px;
      font-size: 20px;
      text-align: center;
      color: #4aaaa5

    }


    {
      #about-me,
       {
        float: right;
        padding-left: 30px;
      }

      }
    }
    /* All img tags */

    img {
      /*
				Center a block element in the middle of its enclosing tag.
				When you use the "auto" rule on both left and right margins,
				your browser will do the math necessary to center a block element.
				*/
      margin-left: auto;
      margin-right: auto;
      /* Block display (more on this later) */
      display: block;
    }
    /* All p tags */

    p {
      text-align: left;
      font-size: 20px;
      /* Bold the text. */
      font-weight: bold;
    }
    /* All unordered list tags */

    ul {
      text-align: left;
      font-size: 35px;
      /* Give an element a solid border. */
      border-style: solid;
      /* Render the border 5 pixels thick. */
      border-width: 5px;
      /* Include bullets in the content flow. */
      /* More info here: http://www.w3schools.com/cssref/pr_list-style-position.asp */
      list-style-position: inside;
    }


    }
   {
   #my-name,
   {float: right; 60px;
   }


    }
